#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 35px;
  text-align: center;
}

.footer {
  margin-top: "40px";
  padding: "20px";
  background: "#f0f0f0";
  text-align: "center";
  font-size: "14px";
  color: "#333";
}
